$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    &.neon {
        background: rgb(3, 20, 3);
        color: rgb(185, 241, 187);
        text-shadow: 0px 1px 4px rgb(192, 231, 193);
        h3 {
            text-shadow: 0px 1px 4px rgb(192, 231, 193);
            color: aliceblue;
        }
        a {
            color: #EAEFF3;
        }

        a:hover {
            color: #143D5E;
            box-shadow: 1px 1px 8px white;
        }
    }
}

.nav-pills {
    &.neon {
        li.active a {
            background: rgb(33, 53, 33);
            border: 1px solid rgb(141, 184, 142);
            box-shadow: 1px 1px 10px rgb(102, 117, 103);
        }
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
    &.neon {
        border-bottom: 1px solid #485249;
    }
}

.btn-success {
    &.neon {
        box-shadow: 1px 1px 8px white;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;

    &.neon {
        color: aliceblue;
        border-top: 1px solid #485249;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    &.neon {
        background: rgb(23, 36, 22);
        border: 1px solid rgb(172, 243, 172);
        box-shadow: 0px 1px 20px white;
    }

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 850px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
